{% extends 'base.jinja2' %}
{% set active_page = 'screener' %}

{% block titletag -%}
Stock Screener
{%- endblock %}

{% block css %}
<link href="{{ url_for('static', filename='screener.css') }}" rel="stylesheet" type="text/css"/>  
{% endblock %}
{% block jquery %}
<script src="{{ url_for('static', filename='screener.js') }}" type="text/javascript"></script>
{% endblock %}

{% block ticker %}
<div class="row-fluid">
  <div class="span6">
    <h4>Criteria</h4>
    {% for formula in params['formulas'] %}
    {% set i = loop.index0 %}
    <div class="criteria">
      <p>
        <select class="formulas" style="width: 250px;">
          {% for item in ['industry', 'sector'] %}
          <option value="{{ item }}"{% if formula==item %} selected="selected"{% endif %}>{{ item | title }}</option>
          {% endfor %}
          {% for group in groups %}
            <optgroup label="{{ group | title }}">
            {% for item in session['formulas'][group] %}
              <option value="{{ item }}"{% if formula == item %} selected="selected"{% endif %}>{{ session['formulas']['labels'][item] }}</option>
            {% endfor %}
          {% endfor %}
        </select>
        
        <select class="operators" style="width: 60px;">
          <option value="lt"{% if params['operators'][i] == 'lt' %} selected="selected"{% endif %}>&lt;</option>
          <option value="le"{% if params['operators'][i] == 'le' %} selected="selected"{% endif %}>&le;</option>
          <option value="gt"{% if params['operators'][i] == 'gt' %} selected="selected"{% endif %}>&gt;</option>
          <option value="ge"{% if params['operators'][i] == 'ge' %} selected="selected"{% endif %}>&ge;</option>
          <option value="eq"{% if params['operators'][i] == 'eq' %} selected="selected"{% endif %}>&#61;</option>
        </select>
        
        <input class="values" type="text" list="values_{{ i }}" placeholder="A value or a formula" style="width: 250px;"
           {%- if params['values'][i] in session['formulas']['labels'] -%} value="{{ session['formulas']['labels'][params['values'][i]] }}"
           {%- else -%}
             {% if params['formulas'][i] not in params['values'][i] %} value="{{ params['values'][i] }}"
             {% else %}
	             {%- if 'one_quarter_ago' in params['values'][i] -%} value="1 Quarter Ago"
	             {%- elif 'one_year_ago' in params['values'][i] -%} value="1 Year Ago"
	             {%- elif 'five_years_ago' in params['values'][i] -%} value="5 Years Ago"
	             {% endif %}
	           {% endif %}
           {%- endif -%}/>
        <datalist id="values_{{ i }}">
          {% for item in ['1 Quarter Ago', '1 Year Ago', '5 Years Ago'] %}
            <option data-value="{{ item }}">{{ item }}</option>
          {% endfor %}
          {% for item in session['sorted_formulas'] %}
            <option data-value="{{ item }}">{{ session['formulas']['labels'][item] }}</option>
          {% endfor %}
        </datalist> 
      </p>
    </div>
    {% endfor %}
  </div>
  <div class="span6">
    <h4>Displayed Columns</h4>
    <h5>Ticker & Company</h5>
    {% for col in params['displayed'] %}
    <div class="displayed_columns">
      <p>
        <select class="displayed" style="width: 250px;">
        <option value="sector"{% if col == 'sector' %} selected="selected"{% endif %}>Sector</option>
        <option value="industry"{% if col == 'industry' %} selected="selected"{% endif %}>Industry</option>
        {% for group in groups %}
          <optgroup label="{{ group | title }}">
          {% for item in session['formulas'][group] %}
            <option value="{{ item }}"{% if item == col %} selected="selected"{% endif %}>{{ session['formulas']['labels'][item] }}</option>
          {% endfor %}
        {% endfor %}
        </select>
      </p>
    </div>
    {% endfor %}
  </div>
</div>

<div class="row-fluid">
  <div class="span6">
    &nbsp;&nbsp;<div class="fa fa-filter fa-lg"> Add Filter</div>
  </div>
  <div class="span6">
    <div class="fa fa-plus-circle fa-lg"> Add Column</div>
  </div>
</div>

<div class="row-fluid">
{% if 'user_oauth_token' in session and 'access_token' in session['user_oauth_token'] %}
  <div class="form-horizontal">
  <input id="name_input" type="text" class="input-large"
    {%- if 'screen' in session -%}value="{{ session['screen']['id'] }}"{%- endif -%}
  />
  <button id="save" class="btn btn-inverse" type="button">Save Screen</button>
  <button id="run" class="btn btn-primary" type="button">Run</button>
  </div>
{% else %}
  <div class="form-horizontal">
   <button id="reset" class="btn btn-inverse" type="button">Reset Screen</button>
   <button id="run" class="btn btn-primary" type="button">Run</button>
  </div>
{% endif %}
</div>

<div class="row-fluid" style="margin-bottom: 15px;">
  <button id="show_criteria" class="btn btn-large btn-block btn-primary" type="button">Hide Criteria</button>
</div>
{% endblock %}
{% block additionalTicker %}{% endblock %}
 
{% block content %}
{% if response['_results_'] == [] %}
<h4>No Results</h4>
{% else %}
  <span id="saved_screens">
	{% if session['screens'] | length != 0 %}
	  <select>
		   <option selected="selected"></option>
		   {% for screen in session['screens'] %}
	     <option {% if session['screen']['id'] == screen['id'] %}selected="selected"{% endif %}>{{ screen['id'] }}</option>
	     {% endfor %}
	  </select>
	  <br>
  {% endif %}
    <small>&nbsp;&nbsp;In Thousands (USD)</small>
  </span>
<table id="datagrid_detail" class="table table-hover">
  <thead>
   <tr>
     <th class="company_info">Company</th>
     {% for column in params['displayed'] %}
       {% if column not in ['cik', 'ticker', 'name'] %}
         {% if column in ['sector', 'industry'] %}
         <th>
           {{ column | title }}
         </th>
         {% else %}
         <th>
           {{ session['formulas']['labels'][column] }}
         </th>
         {% endif %}
       {% endif %}
     {% endfor %}
   </tr>
 </thead>
 <tbody>
 {% for result in response['_results_'] %}
   <tr>
     <td class="company_info">
       <a href="/financials/{{ result['cik']['value'] }}">
         <small>{{ result['ticker']['value'] }}</small><br>
         {{ result['name']['value'] | truncator(25) | safe }}
       </a>
     </td>
     {% for column in params['displayed'] %}
       {% if column not in ['cik', 'ticker', 'name'] %}
         <td>
           {% if 'formatted' in result[column] %}
             {{ result[column]['formatted'] | format_blanks }}
           {% else %}
             {{ result[column]['value'] | format_blanks }}
           {% endif %}
         </td>
       {% endif %}
     {% endfor %}
   </tr>
 {% endfor %}  
 </tbody>
</table>
{% endif %}

<!-- Modal -->
<div id="confirm" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modal_header" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="modal_header">Confirm</h3>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to overwrite your existing screen?</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button id="overwrite" class="btn btn-primary">Yes</button>
  </div>
</div>
{% endblock %}